* {
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  width: 100vh;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; }

h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 170px;
  font-weight: 600; }
  h1 span {
    color: transparent;
    -webkit-text-stroke: 3px #FFFFFF; }

nav ul li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  transition: all 0.2s ease; }

nav ul li.actif a {
  font-size: 28px; }

.morceau div p {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 0 0 0 17px;
  box-sizing: border-box; }

.temps p {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400; }

p.titreSection {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  z-index: 50;
  position: absolute;
  left: 150px;
  top: 40px; }

p.menuSlider {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-weight: 600; }

h2 {
  color: transparent;
  -webkit-text-stroke: 3px #FFFFFF;
  text-transform: uppercase;
  font-size: 240px;
  font-weight: 600;
  text-align: center;
  opacity: 0.2;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-60%); }

p.numero {
  color: #5D34FF;
  font-size: 52px;
  font-weight: 600; }

.box p:nth-child(3),
.box p:last-child {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600; }

.box p:nth-child(3) {
  padding: 21px 0 0 0;
  box-sizing: border-box; }

.clear {
  clear: both; }

header {
  width: 100%;
  height: auto;
  background: transparent; }
  header div {
    width: 100%;
    height: auto;
    padding: 30px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; }
    header div svg {
      width: 50px; }
      header div svg:last-child {
        transition: all 0.3s ease-in; }
        header div svg:last-child.actif {
          transform: rotate(135deg); }
          header div svg:last-child.actif rect {
            fill: #FFFFFF; }
  header nav {
    width: calc(100% / 3);
    height: calc(100vh - 80px);
    position: fixed;
    right: -100%;
    top: 0;
    backdrop-filter: blur(20px);
    background: rgba(15, 16, 35, 0.9);
    padding: 158px 80px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    z-index: 9; }
    header nav.actif {
      right: 0; }
    header nav ul {
      list-style: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      header nav ul li {
        display: flex;
        align-items: center;
        opacity: 0.5;
        padding: 0 0 0 20px;
        box-sizing: border-box;
        transition: all 0.2s ease-in; }
        header nav ul li.actif {
          opacity: 1;
          padding: 0; }
        header nav ul li svg {
          transform-origin: center center;
          transform: rotate(45deg);
          width: 20px; }
          header nav ul li svg rect {
            fill: #FFFFFF; }
        header nav ul li:hover {
          opacity: 1; }

footer.musique {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50; }
  footer.musique article.morceau {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    footer.musique article.morceau .pochette {
      width: 50px;
      height: 50px;
      background: #5D34FF;
      border-radius: 5px; }
  footer.musique article.controls {
    width: 220px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer.musique article.controls svg {
      height: 16px; }
    footer.musique article.controls .play,
    footer.musique article.controls .pause {
      width: 45px;
      height: 45px;
      background: #5D34FF;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer.musique article.controls .play svg,
      footer.musique article.controls .pause svg {
        height: 18px; }
      footer.musique article.controls .play.hide,
      footer.musique article.controls .pause.hide {
        display: none; }
  footer.musique article.temps {
    width: auto; }
  footer.musique article.volume {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer.musique article.volume svg {
      width: 20px;
      margin: 0 25px 0 0; }
    footer.musique article.volume input[type="range"] {
      -webkit-appearance: none;
      width: 125px;
      height: 4px; }
    footer.musique article.volume input[type="range"]:focus {
      outline: none; }
    footer.musique article.volume input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: #5D34FF; }
    footer.musique article.volume input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 22px;
      height: 22px;
      background: #5D34FF;
      border: 2px solid #FFFFFF;
      border-radius: 50px;
      transform: translateY(-8px); }

section.home {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/photo/chanteuse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

section.actu {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 40px 150px 120px 150px;
  box-sizing: border-box;
  background: #151635;
  overflow-x: hidden; }
  section.actu .controller {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 40px 150px 120px 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 5; }
    section.actu .controller div {
      width: 25%;
      padding: 0 0 32px 0;
      box-sizing: border-box;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      cursor: pointer;
      transition: all 0.2s ease-in; }
      section.actu .controller div.actif, section.actu .controller div:hover {
        border-bottom: 4px solid #FFFFFF; }
  section.actu .slider {
    width: 400%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-in; }
    section.actu .slider .box {
      width: calc(100% / 4);
      height: 100%;
      padding: 180px 150px 0 150px;
      box-sizing: border-box;
      position: relative; }
      section.actu .slider .box.box1 {
        background-image: url("../img/photo/slide1.jpg");
        background-position: center bottom;
        background-size: cover; }
      section.actu .slider .box.box2 {
        background-image: url("../img/photo/slide2.jpg");
        background-position: center center;
        background-size: cover; }
      section.actu .slider .box.box3 {
        background-image: url("../img/photo/slide3.jpg");
        background-position: center bottom;
        background-size: cover; }
      section.actu .slider .box.box4 {
        background-image: url("../img/photo/slide4.jpg");
        background-position: center bottom;
        background-size: cover; }
