// HELPERS

// Variables
@import "helpers/variables";
// Reset
@import "helpers/reset";
// Polices 
@import "helpers/font";
// Clear
@import "helpers/clear";

// ~*~*~*~*~*~*~*~*~*~*~*~*~

// COMPONENTS

// Menu
@import "components/menu.scss";
// Musique
@import "components/musique.scss";
// Home
@import "components/home.scss";
// Actu
@import "components/actu.scss";
// Artiste 
@import "components/artiste.scss";
// Histoire
@import "components/histoire.scss";
// Contact
@import "components/contact.scss";
// Footer
@import "components/footer.scss";