// HELPERS

// Variables
@import "helpers/variables";
// Reset
@import "helpers/reset";
// Polices 
@import "helpers/font";
// Clear
@import "helpers/clear";

// ~*~*~*~*~*~*~*~*~*~*~*~*~

// COMPONENTS

// Menu
@import "components/menu.scss";
// Musique
@import "components/musique.scss";
// Home
@import "components/home.scss";

