section.contact{
	width: 100vw;
	min-height: 800px;
	max-height: auto;
	//	background: red;

	position:relative;

	padding: 0 0;

	box-sizing: border-box;
	background: linear-gradient(#2f2d3a, #151635);
	z-index: 0;


	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	form{
		display: flex;
		flex-direction: column;

		width: 800px;

		.focus{
			color: white;
			background: $bleu;

			border: 1px solid white;
			margin: 9px;

			&::placeholder{
				text-transform: uppercase;
				color: lightgray;
			}
			&:focus{
				&::placeholder{
					color: white;
				}

			}
		}

		input, textarea{
			// Reset
			border:none;
			background-image:none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;

			background: #151635;

			padding: 20px;
			margin: 10px;
			font-size: 20px;
			color: white;
			border-radius: 4px;

			&::placeholder{
				text-transform: uppercase;
				color: grey;
			}

			&:focus{

				text-transform: none;
				background: $bleu;

				//				border-color: white;
				border: 1px solid white;
				margin: 9px;

				&::placeholder{
					color: lightgray;
				}
			}
		}
		
		textarea{
			min-height: 200px; 
			min-width: calc(800px - 60px);
		}
		
		div{

			&:first-of-type{
				display: flex;
				flex-direction: row;

				width: 100%;

				input{
					width: calc((100% / 2) - 10px);
				}
			}
		}
	}
	
	button{
		background: #151635;
		color: lightgray;

		width: 250px;
		padding: 20px;
		margin: 10px;
		font-size: 20px;

		border:none;

		&:hover{
			background: #5D34FF;
			color: white;
			border: 1px solid white;
			border-radius: 4px;
			margin: 9px;

			cursor: pointer;
			transition-timing-function: ease-out;
			//			transition: 0.2s;
		}
//		&:active{
//		}
	}
}