footer.musique{
    width:100%;
    height:80px;
    position:fixed;
    left:0;
    bottom:0;
    backdrop-filter:blur(20px);
    background:rgba(255,255,255,0.1);
    padding:15px 40px;
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:50;

    article{
        &.morceau{
            width:30%;
            display:flex;
            justify-content:flex-start;
            align-items:center;

            .pochette{
                width:50px;
                height:50px;
                background:$bleu;
                border-radius:5px;
            }
        }

        &.controls{
            width:220px;
            height:auto;
            display:flex;
            justify-content:space-between;
            align-items:center;

            svg{
                height:16px;
            }

            .play,
            .pause{
                width:45px;
                height:45px;
                background:$bleu;
                border-radius:50px;
                display:flex;
                justify-content:center;
                align-items:center;

                svg{
                    height:18px;
                }

                &.hide{
                    display:none;
                }
            }
        }

        &.temps{
            width:auto;
        }

        &.volume{
            width:auto;
            display:flex;
            align-items:center;
            justify-content:center;

            svg{
                width:20px;
                margin:0 25px 0 0;
            }

            input[type="range"]{
                -webkit-appearance: none;
                width:125px;
                height:4px;
            }
            input[type="range"]:focus{
                outline:none;
            }
            input[type="range"]::-webkit-slider-runnable-track{
                width:100%;
                height:5px;
                border-radius:5px;
                background:$bleu;
            }
            input[type="range"]::-webkit-slider-thumb{
                -webkit-appearance: none;
                width:22px;
                height:22px;
                background:$bleu;
                border:2px solid $blanc;
                border-radius:50px;
                transform:translateY(-8px);

            }
        }
    }
}