h1{
    color:$blanc;
    text-transform:uppercase;
    font-size:170px;
    font-weight:600;

    span{
        color:transparent;
        -webkit-text-stroke:3px $blanc;
    }
}

nav ul li a{
    text-decoration:none;
    font-size:24px;
    font-weight:400;
    text-transform:uppercase;
    padding:0 0 0 20px;
    box-sizing:border-box;
    color:$blanc;
    transition: all 0.2s ease;
}

nav ul li.actif a{
    font-size:28px;
}

.morceau div p{
    font-size:18px;
    line-height:21px;
    color:$blanc;
    padding:0 0 0 17px;
    box-sizing:border-box;
}

.temps p{
    color:$blanc;
    font-size:22px;
    font-weight:400;
}

p.titreSection{
    color:$blanc;
    text-transform:uppercase;
    font-size:32px;
    font-weight:600;
    z-index:50;
    position:absolute;
    left:150px;
    top:40px;
}

p.menuSlider{
    color:$blanc;
    text-transform:uppercase;
    font-size:18px;
    text-align:center;
    font-weight:600;
}

h2{
    color:transparent;
    -webkit-text-stroke:3px $blanc;
    text-transform:uppercase;
    font-size:240px;
    font-weight:600;
    text-align:center;
    opacity:0.2;
    position:absolute;
    left:0;
    right:0;
    top:50%;
    transform:translateY(-60%);
}

p.numero{
    color:$bleu;
    font-size:52px;
    font-weight:600;
}

.box p:nth-child(3),
.box p:last-child{
    color:$blanc;
    text-transform:uppercase;
    font-size:32px;
    font-weight:600;
}

.box p:nth-child(3){
    padding:21px 0 0 0;
    box-sizing:border-box;
}